/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sniglet:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
html,
body {
    scroll-behavior: smooth;
}

header,
section {
    overflow-x: hidden;
}

/* Header Section */
header a {
    font-family: 'Sniglet', cursive;
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: #dd2476;
    background: linear-gradient(to bottom, #dd2476, #ff512f)
}


.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link {
    color: white !important;
    transition: all 0.7s ease;
    font-size: 16px;
}

header .nav-link:hover,
header .navbar-brand:hover,
header .navbar-link:active {
    color: #ffc107 !important;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin 35vmin;
    font-family: 'Rubik', sans-serif;
    color: white;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8vmin;
    font-weight: 500;
    padding: 0.1vmin 0vmin;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
}

header .container .col-md-7 button:hover {
    background: #ccc;
    border: 1px solid #ccc;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.4)
}

/* Highlight Menu */
.highlight {
    border-bottom: 4px solid rgb(80, 119, 224);
}


/* Main Section */

/* Section 1 */
.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0 24px 42px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik', sans-serif;
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5)
}


/* Section 2 */
.cover {
    width: 100%;
    height: 55vmin;
    background: url('Images/pexels-photo-452738.jpeg') -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content h1 {
    font-family: 'Patua One', cursive;
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content p {
    font-family: 'Rubik', sans-serif;
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 12vmin;
    color: tomato;
}

.numbers .rect p {
    font-family: 'Patua One', cursive;
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: 'Lobster', cursive;
}

.purchase>p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: rgba(0, 0, 0, 0.5)
}

.card-body .pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* Section 3 */
.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: linear-gradient(to bottom, #dd2476, #ff512f);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em 2em;
    color: lightgray;
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
    cursor: pointer;
    transition: all 0.7s ease;
}

.section-3 .desktop:hover {
    background: #ccc;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}


/* Section 4 */
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22rem;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}


/* Footer Section */
footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: linear-gradient(to bottom, #dd2476, #ff512f);
    border: none !important;
}

footer .column i {
    color: #dd2476;
    padding: 0 0.5em;
    cursor: pointer;
}


/* Sticky Class */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}


/* Back to TOp Button */

.gotopbtn {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: rgb(0, 132, 255);
    padding: 5px 10px;
    display: none;
    place-items: center;
    border-radius: 3px;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    z-index: -999;
    transition: all 4s ease-in-out;
}

.gotopbtn:hover {
    color: white;
}

.gotopbtn-show {
    display: block !important;
    z-index: 999;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}



@media only screen and (max-width:768px) {
    header .navbar-brand {
        padding-left: 1rem;
    }

    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover {
        background-position: -25vmin -10vmin;
    }

    .numbers .rect {
        width: 10rem;
        height: 8rem;
    }

    .numbers .rect h1 {
        font-size: 2rem;
    }

    .section-3 {
        height: inherit;
        padding: 10vmin !important;
    }

    .section-3 .row h1 {
        padding: 6vmin 4vmin;
    }

    .section-3 .row .col-md-6 {
        text-align: center !important;
    }

    .section-3 .row .col-md-6 i {
        font-size: 8vmin;
    }

    .section-4 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-4 .carousel-inner {
        width: 26rem;
        margin-left: -3.5rem;
    }

    .gotopbtn {
        padding: 3px 6px;
        font-size: 14px;
    }
}



@media only screen and (max-width:425px) {
    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
}


@media only screen and (max-width:320px) {
    .section-4 .card {
        width: 18rem;
    }

    .section-4 .carousel-inner {
        margin-left: -14vmin;
    }
}